.device-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .edit-btn, .delete-btn {
    cursor: pointer;
    margin-left: 10px;
  }

  table {
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  .btn-container {
    text-align: right;
  }

  .btn-container{
  margin-top:10px;
}

.pagination-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}

.brand-logo {

  margin-left:20px;

}


  
.pagination li
{
  vertical-align: middle;
  padding:0px 5px 0px 5px;

  border:1px solid red;
  border-radius: 3px;;
}

.hidden{
  opacity:0;
  display:none;
}

  .watermark {
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    background: url('filigrana.png') center center no-repeat;

    opacity: 0.1; 
    filter: blur(5px); 
  }

  /* Center modals properly */
  .modal {
    max-height: 85%;
    width: 55%;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
  }

  @media only screen and (max-width: 992px) {
    .modal {
      width: 80%;
    }
  }
